#hero {
    background: url("../../assets/img/kitchen.jpg") center center no-repeat;
    /*background: url("../../assets/img/city.jpg") center center no-repeat;*/
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    /*min-height: calc(100vh - 55px);*/
    width: 100%;
}

#hero-img {
    
}

#hero-content {
    background: rgba(255,255,255,0.15);
    letter-spacing: 2px;
    max-width: 60rem;
    text-transform: uppercase;
}

#hero-btn:hover {
    cursor: pointer;
}

.hero-content-text {
    padding: 1rem;
}

.hero-content-text > h1 {
    font-size: 1.5rem;
    text-align: center;
}

.hero-content-text > p {
    font-size: 1rem;
    text-align: center;
}

#hero-content-title {
    border: 2px solid;
    color: #fff;
    width: 316px;
}

#hero-content-subtitle {
    border-left: 2px solid;
    color: #fefefe;
    text-transform: lowercase;
}

@media (max-width: 991px) {
    #hero {
       /*min-height: calc(100vh - 95px);*/
    }
}