<div id="hero" class="d-flex justify-content-center align-items-center flex-row flex-wrap">
    <!--<img src="../../assets/images/succulentBlurBG.jpg" id="hero-img" class="mx-auto w-100" alt="Responsive hero image">-->
    
    <div id="hero-content" class="row col-9 d-flex flex-row flex-wrap justify-content-center align-items-center">
        <div class="hero-content-img col-xs-12 d-flex justify-content-center align-items-center">
            <!--<img src="../../assets/images/logo.gif" alt="logo">-->
        </div>
        <div class="hero-content-text row col-12 d-flex justify-content-center align-items-center">
            <div class="row col-12 justify-content-center align-items-center">
                <div class="d-flex col-12 col-lg-6 px-0 justify-content-center">
                    <h1 id="hero-content-title" class="p-2 display-3 ml-lg-auto">
                        Rancho<br>
                        Kitchen<br>
                        &<br>
                        Baths
                    </h1>
                </div>
                <div class="col-lg-6"></div>
                <div class="w-100"></div>
                <div class="col-lg-6"></div>
                <p id="hero-content-subtitle" class="d-flex justify-content-center col-6 col-lg-6 pl-2"><em>"...making your home a masterpiece"</em></p>
            </div>
            <div class="d-flex justify-content-start flex-column pt-4">
                <button type="button" id="hero-btn" class="btn btn-outline-primary">Free Quote</button>
            </div>
        </div>
    </div>
</div>