/*#hero {*/
/*    background: rgba(0,0,0,0.3);*/
/*    color: #fff;*/
/*    width: 100vw;*/
/*    max-width: 1800px;*/
/*    height: 1199px;*/
/*    max-height: calc((100vw - 6rem)/1.5);*/
    
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
/*}*/

/*#hero-img {*/
/*    width: 100vw;*/
    /*width: calc(100% - 6rem);*/
/*    max-width: 1800px;*/
/*    height: 1199px;*/
/*    max-height: calc((100vw - 6rem)/1.5);*/
/*    position: absolute;*/
/*    top: 0;*/
/*    z-index: -999;*/
/*}*/

/*#hero-btn:hover {*/
/*    cursor: pointer;*/
/*}*/
/*.hero-content-text > h1 {*/
/*    font-size: 1.5rem;*/
/*    text-align: center;*/
/*}*/

/*.hero-content-text > p {*/
/*    font-size: 1rem;*/
/*    text-align: center;*/
/*}*/

/*@media (max-width: 576px) {*/
/*    #hero, #hero-img {*/
/*        max-height: calc((100vw + 6rem)/1.5);*/
/*    }*/
/*}*/

/**************************************************/

#hero {
    background: url("../../assets/img/city.jpg") center center no-repeat;
    /*background: url("../../assets/images/succulentBlurBG.jpg") bottom right no-repeat;*/
    background-attachment: fixed;
    background-size: cover;
    height: calc(100vh - 2.5rem);
    width: 100%;
}

#hero-img {
    
}

#hero-content {
    letter-spacing: 2px;
    max-width: 60rem;
    text-transform: uppercase;
}

#hero-btn:hover {
    cursor: pointer;
}
.hero-content-text > h1 {
    font-size: 1.5rem;
    text-align: center;
}

.hero-content-text > p {
    font-size: 1rem;
    text-align: center;
}

#hero-content-title {
    border: 2px solid;
    color: #fff;
    width: 316px;
}

#hero-content-subtitle {
    border-left: 2px solid;
    color: #fefefe;
    text-transform: lowercase;
}