<div id="hero" class="row d-flex justify-content-center align-items-center flex-row flex-wrap mx-auto">
    <img src="../../assets/images/succulentBlurBG.jpg" id="hero-img" class="mx-auto" alt="Responsive hero image">
    
    <div id="hero-content" class="row col-9 d-flex flex-row flex-nowrap justify-content-center align-items-center">
        <div class="hero-content-img offset-2">
            <img src="../../assets/images/logo.gif" alt="logo">
        </div>
        <div class="hero-content-text d-flex flex-column flex-wrap">
            <h1>Rancho Kitchen & Baths</h1>
            <p><em>"...making your home a masterpiece"</em></p>
            <button type="button" id="hero-btn" class="btn btn-outline-primary">Contact Us</button>
        </div>
    </div>
</div>