#nav {
    /*background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0));*/
    background: var(--primary-color);
    /*background: transparent;*/
    border-bottom: 1px solid #333;
}

.navbar-brand {
    text-decoration: none;
    color: var(--font-color);
    /*letter-spacing: 2px;*/
    text-transform: uppercase;
}

.nav-link {
    color: var(--font-color);
    letter-spacing: 2px;
    padding: 0 1rem;
    text-transform: uppercase;
}