<!--our-services-->
<div id="our-services" class="d-flex justify-content-center align-items-center py-10vh">
  <!--<div class="d-flex flex-column justify-content-center align-items-center container my-4">-->
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1">
        <h1 id="title" class="display-4 text-center">About</h1>
        <p id="content">
          Rancho Kitchen and Baths, Inc. is a local independent family-owned and operated business. Our number one goal is to treat our clients with care and respect. We strive to make everyone we work with feel their job is our top priority. Our staff members
          are real people who care about your dreams and will make every effort to make them a reality.
        </p>
        <!--</div>-->
      </div>
    </div>
  </div>
</div>

<!--feature-one-->
<section id="feature-one">
  <div class="container">
    <div class="row">
      <div class="feature-content row col-10 offset-1">
        <div class="col-lg-6">
          <img src="../../assets/img/city.jpg" width="100%" >
        </div>
        <div class="col-lg-5 offset-lg-1">
          <h6>Watch this</h6>
          <h2>Witness the power of Startup.logo in this acapella video</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, accusamus, soluta, enim rem sed quae debitis nemo sint consequatur laudantium voluptate ad vitae quam voluptatum nihil impedit vel reprehenderit neque!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi tenetur repellat molestiae cumque quae ullam neque perspiciatis mollitia doloribus. Explicabo, omnis quidem iusto eligendi quas id mollitia. Magni, et!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Gallery-->
<section id="feature-two" class="py-10vh">
  <div class="container">
    <div class="row">
      <div class="feature-content row">
        <div class="col-10 offset-1">
          <h1 id="feature-two-title" class="display-4 text-center">Gallery</h1>
          <h3 class="feature-subtitle display-6 text-center mb-3">These are incredible pictures</h3>
          <div class="card-columns">
            <div class="card">
              <img class="card-img-top img-fluid" src="../../assets/img/bg.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title that wraps to a new line</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="card p-3">
              <blockquote class="card-block card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <img class="card-img-top img-fluid" src="../../assets/img/bg2.jpeg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card card-inverse card-primary p-3 text-center">
              <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                <footer>
                  <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card text-center">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img img-fluid" src="../../assets/img/bg3.jpeg" alt="Card image">
            </div>
            <div class="card p-3 text-right">
              <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--testimonials-->
<section id="testimonials" class="py-10vh">
  <div class="container">
    <div class="row">
      <div class="testimonial-content">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
          <div class="entry row">
            <div class="col-12 col-lg-3 d-flex justify-content-center">
              <img src="../../assets/img/avatar.jpg" alt="portrait" class="testimonial-img" height="150px" width="150px">
            </div>
            <div class="col-12 col-lg-9">
              <h2 class="title">Kelly</h2>
              <p class="testimonial-text">“The staff at Rancho Kitchen and Baths did a great job designing and installing our beautiful kitchen. The installers were pleasant, respectful and clean. My son was sad to see them go when the job was finished. The experience was wonderful and we look forward to remodeling our master bathroom in the very near future.”</p>
              <h6 class="testimonial-footer">Poway, CA</h6>
            </div>
          </div>
          <div class="entry row">
            <div class="col-12 col-lg-3 d-flex justify-content-center">
              <img src="../../assets/img/avatar.jpg" alt="portrait" class="testimonial-img" height="150px" width="150px">
            </div>
            <div class="col-12 col-lg-9">
              <h2 class="title">Nicole</h2>
              <p class="testimonial-text">“What a breath of fresh air! That’s what it felt like when I met with my designer. She was friendly and enthusiastic, not snobby like some places I had visited. My designer helped me put together my dream kitchen and I just love it. Thank you Rancho Kitchen and Baths for making my remodel a success!”</p>
              <h6 class="testimonial-footer">Rancho Penasquitos, CA</h6>
            </div>
          </div>
          <div class="entry row">
            <div class="col-12 col-lg-3 d-flex justify-content-center">
              <img src="../../assets/img/avatar.jpg" alt="portrait" class="testimonial-img" height="150px" width="150px">
            </div>
            <div class="col-12 col-lg-9">
              <h2 class="title">Paul</h2>
              <p class="testimonial-text">“Kudos to a great company that thinks of their clients needs. Dave created a detailed schedule of our project and actually completed our project a few days early. It was a pleasure to deal with such conscientious people. I would recommend Rancho Kitchen and Baths to any of my friends with confidence.”</p>
              <h6 class="testimonial-footer">Rancho Bernardo, CA</h6>
            </div>
          </div>
          <div class="entry row">
            <div class="col-12 col-lg-3 d-flex justify-content-center">
              <img src="../../assets/img/avatar.jpg" alt="portrait" class="testimonial-img" height="150px" width="150px">
            </div>
            <div class="col-12 col-lg-9">
              <h2 class="title">Carol</h2>
              <p class="testimonial-text">“Thank you for our beautiful master bathroom. It is the sanctuary I always hoped to have, and the old bathroom is nothing but a distant memory.”</p>
              <h6 class="testimonial-footer">Carmel Mountain Ranch, CA</h6>
            </div>
          </div>
          <div class="entry row">
            <div class="col-12 col-lg-3 d-flex justify-content-center">
              <img src="../../assets/img/avatar.jpg" alt="portrait" class="testimonial-img" height="150px" width="150px">
            </div>
            <div class="col-12 col-lg-9">
              <h2 class="title">Maureen</h2>
              <p class="testimonial-text">“My home is a show place. I have three new fantastic bathrooms and a gourmet kitchen. My house is like a model and I love it.”</p>
              <h6 class="testimonial-footer">Poway, CA</h6>
            </div>
          </div>
          <div class="entry row">
            <div class="col-12 col-lg-3 d-flex justify-content-center">
              <img src="../../assets/img/avatar.jpg" alt="portrait" class="testimonial-img" height="150px" width="150px">
            </div>
            <div class="col-12 col-lg-9">
              <h2 class="title">Jennifer</h2>
              <p class="testimonial-text">"Remodeling our kitchen was a very good experience. RKB's crew was polite and courteous and showed quality workmanship and expertise. We are pleased with the outcome and love our beautiful kitchen."</p>
              <h6 class="testimonial-footer">Rancho Penasquitos, CA</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--contact-->
<section id="contact" class="py-10vh">
  <div class="container">
    <div class="row">
      <form action="" class="col-10 offset-1 col-lg-8 offset-lg-2">
        <div class="row">
          <input type="text" class="form-input col-md-4 py-1" placeholder="name">
          <input type="email" class="form-input col-md-4 py-1" placeholder="example@gmail.com">
          <input type="text" class="form-input col-md-4 py-1" placeholder="est. budget">
        </div>
        <div class="row">
          <textarea name="" id="" cols="30" rows="10" class="form-text col-12" placeholder="description of project..."></textarea>
          <button class="btn btn-outline-success mx-auto mt-1rem">Contact</button>
        </div>
      </form>
    </div>
  </div>
</section>

<!--footer-->
<footer id="footer" class="navbar navbar-full navbar-light bg-faded">
  <div class="container">
    <div class="row justify-content-center">
      <div class="footer-content">
        <p>Copyright 2017 Rancho Kitchen &amp; Bath, Inc. | Site design handcrafted by Danilo Carandang</p>
      </div>
    </div>
  </div>
</footer>