<div id="our-services" class="d-flex justify-content-center align-items-center py-10vh">
  <div class="d-flex flex-column justify-content-center align-items-center container my-4">
    <h1 id="title" class="display-4">About</h1>
    <p id="content" class="">
      Rancho Kitchen and Baths, Inc. is a local independent family-owned and operated business. Our number one goal is to treat our clients with care and respect. We strive to make everyone we work with feel their job is our top priority. Our staff members are real people who care about your dreams and will make every effort to make them a reality.
    </p>
  </div>
</div>

<section id="feature-one" class="py-10vh">
  <div class="container">
    <div class="row">
      <div class="feature-content row">
        <div class="col-lg-6">
          <img src="../../assets/img/city.jpg" width="100%" >
        </div>
        <div class="col-lg-5 col-lg-offset-1">
          <h6>Watch this</h6>
          <h2>Witness the power of Startup.logo in this acapella video</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, accusamus, soluta, enim rem sed quae debitis nemo sint consequatur laudantium voluptate ad vitae quam voluptatum nihil impedit vel reprehenderit neque!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus excepturi tenetur repellat molestiae cumque quae ullam neque perspiciatis mollitia doloribus. Explicabo, omnis quidem iusto eligendi quas id mollitia. Magni, et!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="feature-two" class="py-10vh">
  <div class="container">
    <div class="row">
      <div class="feature-content row">
        <div class="col-lg-10 mx-lg-auto">
          <h1 id="feature-two-title" class="display-4 text-center">Gallery</h1>
          <h3 class="feature-subtitle display-6 text-center mb-3">These are incredible pictures</h3>
          <div class="card-columns">
            <div class="card">
              <img class="card-img-top img-fluid" src="../../assets/img/bg.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title that wraps to a new line</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="card p-3">
              <blockquote class="card-block card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <img class="card-img-top img-fluid" src="../../assets/img/bg2.jpeg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card card-inverse card-primary p-3 text-center">
              <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                <footer>
                  <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card text-center">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img img-fluid" src="../../assets/img/bg3.jpeg" alt="Card image">
            </div>
            <div class="card p-3 text-right">
              <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>
                  <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </small>
                </footer>
              </blockquote>
            </div>
            <div class="card">
              <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="py-10vh">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-lg-auto">
        <div class="testimonial-content">
          <h1 class="title">recent customer</h1>
          <h3 class="testimonial-text">"they did a great job."</h3>
          <img src="../../assets/img/avatar.jpg" alt="portrait" class="testtimonial-img">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="py-10vh">
  <div class="container">
    <div class="row">
      <form action="" class="col-lg-10 mx-lg-auto">
        <div class="row">
          <input type="text" class="form-input col-md-4" placeholder="name">
          <input type="email" class="form-input col-md-4" placeholder="example@gmail.com">
          <input type="text" class="form-input col-md-4" placeholder="est. budget">
        </div>
        <div class="row">
          <textarea name="" id="" cols="30" rows="10" class="form-text col-12" placeholder="description of project..."></textarea>
          <button class="btn btn-outline-success mx-auto mt-1rem">Contact</button>
        </div>
      </form>
    </div>
  </div>
</section>

<footer id="footer" class="navbar navbar-full navbar-light bg-faded">
  <div class="container">
    <div class="row justify-content-center">
      <div class="footer-content">
        <p>Copyright 2017 Rancho Kitchen &amp; Bath, Inc. | Site design handcrafted by Danilo Carandang</p>
      </div>
    </div>
  </div>
</footer>