#about {
    background: #fff;
    color: var(--font-color);
}

#title {
    letter-spacing: 2px;
}

#content {
    letter-spacing: 2px;
    text-align: justify;
}

/*feature one*/
#feature-one {
    /*background: seashell;*/
}

.feature-content {
    padding: 8rem 0;
    overflow: hidden;
}

.feature-content > div > h2 {
    color: #777;
}

.feature-content > div > h6 {
    color: #999;
}

.feature-content > div > p {
    color: #a1a1a1;
}

.feature-img {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*feature two*/
#feature-two {
    background: #fcfcfc;
    color: var(--font-color);
}

/*testimonials*/
#testimonials {
    /*background: floralwhite;*/
}

.entry {
    background: rgba(255,255,255,0.7);
}

.testimonial-img {
    border: 2px solid #a7a5a6;
    border-radius: 50%;
}

/*contact*/
#contact {
    background: url("../../assets/img/brooke-lark-93583.jpg") center bottom no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    width: 100%;
}

#contact > div > .row {
    background: rgba(255,255,255,0.7);
}

.form-input, .form-text {
    background: rgba(255,255,255,0.7);
}

/*footer*/
#footer {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.footer-content > p {
    color: #a1a1a1;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin-bottom: 0;
}