/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*#dcc9bb gravelstone          gray-tan*/
/*##c8c1af haven of coziness    gray-beige*/
/*#e9e5dc full moon            white*/
/*#63686c grizzle gray         dk gray*/
/*#a7a5a6 grey stone           lt gray*/

:root {
    /*font-family: "Montserrat", sans-serif !important;*/
    font-family: Verdana, sans-serif !important;
    
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    
    --primary-color: #fff;
    --font-color: #333;
    letter-spacing: 2px;
}
body {
    background: #e6e6e6;
    height: 100%;
    width: 100%;
    color: var(--primary-color);
}

.box-shadow {
    box-shadow: 0.1rem 0 1rem 0.1rem rgba(0,0,0,0.1),
                -0.1rem 0 1rem 0.1rem rgba(0,0,0,0.1),
                0 -0.1rem 1rem 0.1rem rgba(0,0,0,0.1);
}

.inset-shadow {
    box-shadow: inset 0 0 8px rgba(0,0,0,0.4);
}

.py-10vh {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.mt-1rem {
    margin-top: 1rem;
}

h1 {
    color: #333;
}

h2 {
    color: #777;
}

h6 {
    color: #999;
}

p {
    color: #a1a1a1;
}

.btn-outline-primary {
    color: seashell;
    background-color: transparent;
    border-color: seashell;
}

.btn-outline-primary:hover {
    color: #777;
    background-color: seashell;
}